<div class='footer'>
  Copyright © 2021 <a href='mailto:roy@roylemmon.com'>Roy Lemmon.</a><br>
  Inspired by <a href='https://nicolas.petton.fr'>https://nicolas.petton.fr</a> <br>
  Last updated on %s. Generated using %s.
</div>
