<div class='intro'>
  <!-- img src='/images/about/profile.png' alt='Roy Lemmon' class='no-border'/ -->
  <h1>
    <span class="black">Roy</span>
    <span class="black">Lemmon</span>
  </h1>
  <p>Emacs | Guix</p>
</div>

<div class='nav'>
  <ul>
    <li><a href='/'>Blog</a>.</li>
    <li><a href='http://gitlab.com/roylemmon/'>Gitlab</a>.</li>
    <li><a href='http://github.com/roylemmon/'>Github</a>.</li>
    <li><a href='https://twitter.com/roylemmon/'>Twitter</a>.</li>
    <li><a href='/about/'>About</a></li>
  </ul>
</div>
